.Keyboard {
   width: 13%;
   margin: 0 auto;
   display: inline-block;
}
.Display-PinCode {
   display: inline-block;
   width: 83.5%;
   text-align: center;
   border: 1px solid darkolivegreen;
   font-weight: bold;
   color: saddlebrown;
   padding-top: 20px;
   padding-bottom: 20px;
}
