.Calculator {
   width: 30%;
   text-align: center;
   margin: 0 auto;
   display: inline-block;
}
.Expression-Form {
   width: 50%;
   margin: 0 auto;
}
.Numbers {
   display: inline-block;
   width: 38%;
   vertical-align: top;
}
.Symbols {
   display: inline-block;
   width: 12%;
   vertical-align: top;
}
.Display-Expression {
   display: inline-block;
   width: 98%;
   text-align: center;
   border: 1px solid darkolivegreen;
   font-weight: bold;
   color: saddlebrown;
   padding-top: 20px;
   padding-bottom: 20px;
}
